#loading {
  align-items: center;
  background-color: #888888;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}

.main-container:not(.main-container--ready) > *:not(#loading) {
  visibility: hidden;
}
